# Direktori vendor untuk dependensi Composer
/vendor/

# Cache dan log
/writable/cache/*
/writable/logs/*
/writable/debugbar/*

# File yang dihasilkan selama runtime
/writable/session/*
/writable/uploads/*

# Konfigurasi lokal
.env
.env.*

# File database (opsional, jika menggunakan SQLite)
/writable/database/*

# IDE dan editor files
*.swp
*.swo
*.bak
*.tmp
*.~*
*.idea/
*.vscode/

# Sistem operasional file
.DS_Store
Thumbs.db

# File composer
composer.lock
